h1 {
    color: black;
    text-align: center;
}

h3 {
    position: absolute;
    right:1%;
    bottom:0;
}

body {
    background-color: lightskyblue;
}

table {
    width: 27%;
    border: 0;
    table-layout: fixed;
    empty-cells: show;
  }

.calculator {
    border: 5px solid gray;
    position:absolute;
    width: 300px;
    height: 500px;
    top: 37%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

.main {
    position:absolute;
    top: 37%;
    left: 42.5%;
}

.number{
    width:30px;
    margin:5px;
    height:25px;
    font-size:12px;
    border-radius:50%;
    text-align: center;
    border:none;
    outline:none;
}

.operator{
    width:40px;
    margin:5px;
    height:25px;
    font-size:12px;
    border-radius:50%;
    text-align: center;
    border:none;
    outline:none;
}

.special{
    margin:5px;
    background:darkgray;
    color:black;
}
