<!DOCTYPE html>
<html>
<head>
<title>Calculator Application</title>
<link rel="stylesheet" type="text/css" href="static/style/style.css">
<script src="static/script/script.js" type="text/javascript"></script>
</head>
<body>

<div class='calculator'>
    <h1>Eternity</h1>
</div>

<div class='main'>

    <div class='input'>> {% if expression %}{{expression}}{% endif %}</div>
    <div class='output'>= {% if result %}{{result}}{% endif %}</div>

    <form action="/" method="POST"> 
        <input type="text" style="width: 210px" name="calc" value="{{ test }}" /> 
        <br/><br/>
    
        <table>
            <tr>
                <td><input type="submit" name="io" class="special" value="AC" /></td>
                <td><button onclick='delEle()' class='special' id='1'>DEL</button></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><input type="submit" name="io" class="special" value="sd" /></td>
                <td><input type="submit" name="io" class="special" value="mad" /></td>
                <td><input type="submit" name="io" class="operator" value="π" /></td>
                <td><input type="submit" name="io" class="operator" value="(" /></td>
                <td><input type="submit" name="io" class="operator" value=")" /></td>
            </tr>
            <tr>
                <td><input type="submit" name="io" class="number" value="7" /></td>
                <td><input type="submit" name="io" class="number" value="8" /></td>
                <td><input type="submit" name="io" class="number" value="9" /></td>
                <td> <input type="submit" name="io" class="operator" value="^" /></td>
                <td> <input type="submit" name="io" class="operator" value="√" /></td>
            </tr>
            <tr>
                <td><input type="submit" name="io" class="number" value="4" /></td>
                <td><input type="submit" name="io" class="number" value="5" /></td>
                <td><input type="submit" name="io" class="number" value="6" /></td>
                <td> <input type="submit" name="io" class="operator" value="*" /></td>
                <td> <input type="submit" name="io" class="operator" value="/" /></td>
            </tr>
            <tr>
                <td><input type="submit" name="io" class="number" value="1" /></td>
                <td><input type="submit" name="io" class="number" value="2" /></td>
                <td><input type="submit" name="io" class="number" value="3" /></td>
                <td><input type="submit" name="io" class="operator" value="+" /></td>
                <td><input type="submit" name="io" class="operator" value="-" /></td>
            </tr>
            <tr>
                <td colspan='2'><input type="submit" class="special" value="=" style='width:80px;border-radius:35%' /></td>
                <td><input type="submit" name="io" class="number" value="0" /></td>
                <td><input type="submit" name="io" class="number" value="." /></td>
                <td><input type="submit" name="io" class="operator" value="%" /></td>
            </tr>
        </table>
    </form>

    

</div>

<h3>This app was made using Flask.</h3>

</body>
</html>